.divbody {
  background-color: #f8f8f8;
  padding: 0;
}


.divmain {
  max-width: 1600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 120px;
  margin-bottom: 20px;
}

.footercontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.footersection {
  flex: 1;
  min-width: 250px;
  margin: 10px 0;
}

.hthree {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.ullihe {
  list-style-type: none;
  padding: 0;
}

.lihe {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
  cursor: pointer;
}

.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: #333;
}

.appdownload {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.appdiv {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  width: 180px;
  margin: 5px;
}

.app {
  margin-right: 10px;
}

.appicon {
  font-size: 24px;
  color: black;
}

.downtext {
  font-size: 10px;
  color: gray;
  margin: 0;
}

.apptype {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: black;
}

@media (max-width: 768px) {
  .footercontainer {
    flex-direction: column;
    align-items: center;
  }

  .footersection {
    width: 100%;
    text-align: center;
  }

  .appdownload {
    flex-direction: column;
    align-items: center;
  }
}
